In [1]:
import pandas as pd
import os

In [2]:
df1 = pd.read_csv(os.path.join("melbourne_listings.csv"))
df1.insert(0,'city','Melbourne, AU')
df1.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Melbourne, AU",9835,Beautiful Room & House,33057,Manju,NaN,Manningham,-37.77268,145.09213,Private room,60,1,4,2015-09-12,0.03,1,1
1,"Melbourne, AU",10803,Room in Cool Deco Apartment in Brunswick East,38901,Lindsay,NaN,Moreland,-37.76651,144.98074,Private room,28,4,145,2020-04-08,1.47,1,0
2,"Melbourne, AU",12936,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,50121,The A2C Team,NaN,Port Phillip,-37.85999,144.97662,Entire home/apt,95,3,42,2020-03-15,0.33,10,0

In [3]:
df2 = pd.read_csv(os.path.join("rio_de_janeiro_listings.csv"))
df2.insert(0,'city','Rio de Janeiro, BR')
df2.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Rio de Janeiro, BR",17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.96592,-43.17896,Entire home/apt,221,5,260,2021-02-08,2.01,1,304
1,"Rio de Janeiro, BR",24480,Nice and cozy near Ipanema Beach,99249,Goya,NaN,Ipanema,-22.98570,-43.20193,Entire home/apt,307,3,85,2018-02-14,0.67,1,10
2,"Rio de Janeiro, BR",25026,Beautiful Modern Decorated Studio in Copa,3746246,Ghizlane,NaN,Copacabana,-22.97712,-43.19045,Entire home/apt,160,7,238,2020-02-15,1.82,11,328

In [4]:
df3 = pd.read_csv(os.path.join("mexico_city_listings.csv"))
df3.insert(0,'city','Mexico City, ME')
df3.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Mexico City, ME",35797,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.38399,-99.27335,Entire home/apt,4088,1,0,NaN,NaN,1,363
1,"Mexico City, ME",44616,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,NaN,Cuauhtémoc,19.41006,-99.17645,Entire home/apt,7293,1,49,2020-10-25,0.43,10,364
2,"Mexico City, ME",56074,Great space in historical San Rafael,265650,Maris,NaN,Cuauhtémoc,19.43778,-99.15549,Entire home/apt,600,4,56,2019-03-01,0.46,2,345

In [5]:
df4 = pd.read_csv(os.path.join("cape_town_listings.csv"))
df4.insert(0,'city','Cape Town, RSA')
df4.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Cape Town, RSA",3191,Malleson Garden Cottage,3754,Brigitte,NaN,Ward 57,-33.94739,18.47600,Entire home/apt,497,3,54,2020-03-07,0.57,1,238
1,"Cape Town, RSA",15007,Blaauwberg House,59072,Dirk,NaN,Ward 23,-33.80001,18.46063,Entire home/apt,2408,2,29,2021-01-05,0.33,6,362
2,"Cape Town, RSA",15068,Grande Bay,59318,Linda,NaN,Ward 23,-33.78799,18.46082,Entire home/apt,2800,4,0,NaN,NaN,9,364

In [6]:
df5 = pd.read_csv(os.path.join("porto_listings.csv"))
df5.insert(0,'city','Porto, PT')
df5.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Porto, PT",41339,Porto city flat near the sea,180050,Paula,PORTO,Lordelo do Ouro e Massarelos,41.15010,-8.66035,Entire home/apt,75,5,17,2018-09-28,0.18,1,222
1,"Porto, PT",42462,Large Penthouse in Vila Nova Gaia,185492,Gabriela,VILA NOVA DE GAIA,Mafamude e Vilar do Paraíso,41.10739,-8.59430,Entire home/apt,73,30,39,2018-10-14,0.39,3,166
2,"Porto, PT",55111,Fontielas Houses |Floor1 in House with shared ...,259711,Isabel E João,PAREDES,Cete,41.17481,-8.35362,Entire home/apt,66,3,14,2019-09-07,0.21,3,0

In [7]:
df6 = pd.read_csv(os.path.join("buenos_aires_listings.csv"))
df6.insert(0,'city','Buenos Aires, AR')
df6.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Buenos Aires, AR",6283,Casa Al Sur,13310,Pamela,NaN,Balvanera,-34.60367,-58.40875,Entire home/apt,4473,3,1,2011-01-31,0.01,1,365
1,"Buenos Aires, AR",11508,Amazing Luxurious Apt-Palermo Soho,42762,Candela,NaN,Palermo,-34.58184,-58.42415,Entire home/apt,5368,2,26,2019-11-28,0.25,1,327
2,"Buenos Aires, AR",12463,Room in Recoleta - awesome location,48799,Matt,NaN,Recoleta,-34.59761,-58.39468,Private room,2415,1,20,2017-12-11,0.15,1,365

In [8]:
df7 = pd.read_csv(os.path.join("santiago_listings.csv"))
df7.insert(0,'city','Santiago, CH')
df7.head(3)

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Santiago, CH",14576,Dp Valen Castillo 1600,14972,Bruno,NaN,Santiago,-33.46413,-70.64869,Entire home/apt,70862,5,0,NaN,NaN,1,0
1,"Santiago, CH",30950,"Apartment Providencia, Santiago",132845,Pamela,NaN,Providencia,-33.43174,-70.61845,Entire home/apt,30714,5,9,2021-01-03,0.21,1,299
2,"Santiago, CH",47936,My Flat in English,218471,Nelsk,NaN,Santiago,-33.44791,-70.63547,Private room,38974,1,0,NaN,NaN,1,0

In [9]:
# compile the list of dataframes to merge
data_frames = [df1, df2, df3, df4, df5, df6, df7]

In [10]:
Final_df = pd.concat(data_frames)

In [11]:
Final_df

,city,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,"Melbourne, AU",9835,Beautiful Room & House,33057,Manju,NaN,Manningham,-37.772680,145.092130,Private room,60,1,4,2015-09-12,0.03,1,1
1,"Melbourne, AU",10803,Room in Cool Deco Apartment in Brunswick East,38901,Lindsay,NaN,Moreland,-37.766510,144.980740,Private room,28,4,145,2020-04-08,1.47,1,0
2,"Melbourne, AU",12936,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,50121,The A2C Team,NaN,Port Phillip,-37.859990,144.976620,Entire home/apt,95,3,42,2020-03-15,0.33,10,0
3,"Melbourne, AU",38271,Melbourne - Old Trafford Apartment,164193,Daryl & Dee,NaN,Casey,-38.057250,145.339360,Entire home/apt,99,1,154,2021-01-16,1.24,1,296
4,"Melbourne, AU",41836,CLOSE TO CITY & MELBOURNE AIRPORT,182833,Diana,NaN,Darebin,-37.697290,145.000820,Private room,40,7,159,2018-08-22,1.28,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11676,"Santiago, CH",48282407,"""Habitación con baño privado, seguro y bonito""",104252261,Lercy,NaN,Ñuñoa,-33.447560,-70.602660,Private room,12000,1,0,NaN,NaN,1,361
11677,"Santiago, CH",48282455,Disfruta de tu estadía departamento ideal Stgo,377314654,Lynda,NaN,Providencia,-33.423320,-70.608910,Entire home/apt,30000,3,0,NaN,NaN,2,360
11678,"Santiago, CH",48282944,Dpto 1 dormitorio amoblado con terraza en El Golf,102865042,Felipe,NaN,Las Condes,-33.417040,-70.597040,Entire home/apt,21600,4,0,NaN,NaN,1,164
11679,"Santiago, CH",48286053,Acogedora habitación familiar independiente,270799374,Fernanda,NaN,La Reina,-33.458125,-70.526992,Private room,30400,2,0,NaN,NaN,1,83
11680,"Santiago, CH",48287530,Moderno Departamento en Santiago Centro,102175488,Angel J,NaN,Santiago,-33.446999,-70.640088,Private room,20800,7,0,NaN,NaN,1,234

In [ ]:
# MONICA
#City	Host Name	Neighbourhood	Latitude	Longitude	Property Type	Room 
#Type	Price	Minimum Nights	Availability 365	Reviews Scores Rating

In [14]:
Final_df.columns

Index(['city', 'id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [15]:
other_cities = Final_df[['city', 'host_name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'availability_365']]

In [16]:
other_cities.head()

,city,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365
0,"Melbourne, AU",Manju,Manningham,-37.77268,145.09213,Private room,60,1,1
1,"Melbourne, AU",Lindsay,Moreland,-37.76651,144.98074,Private room,28,4,0
2,"Melbourne, AU",The A2C Team,Port Phillip,-37.85999,144.97662,Entire home/apt,95,3,0
3,"Melbourne, AU",Daryl & Dee,Casey,-38.05725,145.33936,Entire home/apt,99,1,296
4,"Melbourne, AU",Diana,Darebin,-37.69729,145.00082,Private room,40,7,0

In [18]:
other_cities['city'].unique()

array(['Melbourne, AU', 'Rio de Janeiro, BR', 'Mexico City, ME',
       'Cape Town, RSA', 'Porto, PT', 'Buenos Aires, AR', 'Santiago, CH'],
      dtype=object)

In [19]:
# Converting df to csv
other_cities.to_csv("other_cities.csv", index=False)