In [2]:
import pandas as pd

In [5]:
NewYorkOriginal = pd.read_csv('New York.csv')
NewYorkOriginal.head()

FileNotFoundError: [Errno 2] No such file or directory: 'New York.csv'

In [4]:
NewYorkOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
NewYorkOriginal.head()

NameError: name 'NewYorkOriginal' is not defined

In [1]:
NewYorkOriginal["City"] = "New York City,NY"

NameError: name 'NewYorkOriginal' is not defined

In [7]:
NewYork = NewYorkOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
NewYork.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Jennifer,Midtown,40.75362,-73.98377,Entire home/apt,100,30,365
1,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,73,1,249
2,Garon,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,365
3,Shunichi,Midtown,40.76468,-73.98315,Private room,79,2,343
4,MaryEllen,Upper West Side,40.80178,-73.96723,Private room,75,2,0

In [8]:
OaklandOriginal = pd.read_csv('Oakland.csv')
OaklandOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3083,Room #2 @ B-Love's Guest House,3518,Traci,NaN,Prescott,37.80832,-122.29300,Private room,38,3,38,2020-11-15,0.48,6,180
1,3264,Garden Suite - Heart of Temescal,3241,Rebecca,NaN,Temescal,37.83593,-122.26110,Private room,57,5,36,2018-08-07,0.25,2,87
2,5739,Mod Studio,9276,Leah And Gyorgy,NaN,Oakland Ave-Harrison St,37.81503,-122.26212,Entire home/apt,125,6,263,2021-02-06,1.86,1,58
3,23637,Share my Charming Home! (1 person or 1 couple ),93339,Mika,NaN,Montclair,37.82925,-122.20966,Private room,63,7,43,2020-03-20,0.32,1,326
4,24916,Rockridge Studio w/garden and Patio,98716,Judy,NaN,Piedmont Avenue,37.83326,-122.25033,Entire home/apt,92,30,112,2019-10-31,0.86,2,326

In [9]:
OaklandOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
OaklandOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,3083,Room #2 @ B-Love's Guest House,3518,Traci,NaN,Prescott,37.80832,-122.29300,Private room,38,3,38,2020-11-15,0.48,6,180
1,3264,Garden Suite - Heart of Temescal,3241,Rebecca,NaN,Temescal,37.83593,-122.26110,Private room,57,5,36,2018-08-07,0.25,2,87
2,5739,Mod Studio,9276,Leah And Gyorgy,NaN,Oakland Ave-Harrison St,37.81503,-122.26212,Entire home/apt,125,6,263,2021-02-06,1.86,1,58
3,23637,Share my Charming Home! (1 person or 1 couple ),93339,Mika,NaN,Montclair,37.82925,-122.20966,Private room,63,7,43,2020-03-20,0.32,1,326
4,24916,Rockridge Studio w/garden and Patio,98716,Judy,NaN,Piedmont Avenue,37.83326,-122.25033,Entire home/apt,92,30,112,2019-10-31,0.86,2,326

In [ ]:
OaklandOriginal["City"] = "Oakland,CA"

In [10]:
Oakland = OaklandOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Oakland.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Traci,Prescott,37.80832,-122.29300,Private room,38,3,180
1,Rebecca,Temescal,37.83593,-122.26110,Private room,57,5,87
2,Leah And Gyorgy,Oakland Ave-Harrison St,37.81503,-122.26212,Entire home/apt,125,6,58
3,Mika,Montclair,37.82925,-122.20966,Private room,63,7,326
4,Judy,Piedmont Avenue,37.83326,-122.25033,Entire home/apt,92,30,326

In [11]:
PacificGroveOriginal = pd.read_csv('Pacific Grove.csv')
PacificGroveOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,22772,Stay-Awhile at Lovers Pt. Pacific Grv,87827,Amie,NaN,Pacific Grove,36.62258,-121.91680,Entire home/apt,170,29,68,2016-08-01,0.52,1,55
1,41014,Ocean front 6-bedroom masterpiece,174738,Kirstie,NaN,Pacific Grove,36.63242,-121.93791,Entire home/apt,1200,3,102,2021-02-23,0.86,1,14
2,44515,Pet-Friendly* Cottage Near Beach for 30+ day s...,195732,Erika & Blake,NaN,Pacific Grove,36.62475,-121.93491,Entire home/apt,188,30,954,2021-01-31,7.44,1,105
3,1031734,"Top Rated,Ocean View,Spa,Fireplace",227482,Dan,NaN,Pacific Grove,36.60324,-121.92723,Entire home/apt,350,30,236,2020-05-17,2.49,1,181
4,1721177,Ocean View Townhome at Lover's Pt.,9073236,Barb,NaN,Pacific Grove,36.62367,-121.91559,Entire home/apt,225,30,249,2020-12-05,2.77,2,152

In [12]:
PacificGroveOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
PacificGroveOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,22772,Stay-Awhile at Lovers Pt. Pacific Grv,87827,Amie,NaN,Pacific Grove,36.62258,-121.91680,Entire home/apt,170,29,68,2016-08-01,0.52,1,55
1,41014,Ocean front 6-bedroom masterpiece,174738,Kirstie,NaN,Pacific Grove,36.63242,-121.93791,Entire home/apt,1200,3,102,2021-02-23,0.86,1,14
2,44515,Pet-Friendly* Cottage Near Beach for 30+ day s...,195732,Erika & Blake,NaN,Pacific Grove,36.62475,-121.93491,Entire home/apt,188,30,954,2021-01-31,7.44,1,105
3,1031734,"Top Rated,Ocean View,Spa,Fireplace",227482,Dan,NaN,Pacific Grove,36.60324,-121.92723,Entire home/apt,350,30,236,2020-05-17,2.49,1,181
4,1721177,Ocean View Townhome at Lover's Pt.,9073236,Barb,NaN,Pacific Grove,36.62367,-121.91559,Entire home/apt,225,30,249,2020-12-05,2.77,2,152

In [ ]:
PacificGroveOriginal["City"] = "Pacific Grove,CA"

In [13]:
PacificGrove = PacificGroveOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
PacificGrove.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Amie,Pacific Grove,36.62258,-121.91680,Entire home/apt,170,29,55
1,Kirstie,Pacific Grove,36.63242,-121.93791,Entire home/apt,1200,3,14
2,Erika & Blake,Pacific Grove,36.62475,-121.93491,Entire home/apt,188,30,105
3,Dan,Pacific Grove,36.60324,-121.92723,Entire home/apt,350,30,181
4,Barb,Pacific Grove,36.62367,-121.91559,Entire home/apt,225,30,152

In [14]:
PortlandOriginal = pd.read_csv('Portland.csv')
PortlandOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12899,"Alberta Arts 2 bedroom suite, charming 1906 house",49682,Ali And David,NaN,Concordia,45.56488,-122.63418,Entire home/apt,70,2,555,2021-02-15,4.11,1,304
1,18130,Charming Roseway Bungalow,69824,Katie,NaN,Roseway,45.55342,-122.58002,Entire home/apt,80,3,2,2020-11-30,0.67,1,2
2,29931,Lovely SW Victorian w/Bonus Room and Hot Tub,79786,Ken,NaN,Hayhurst,45.48278,-122.72089,Entire home/apt,200,2,53,2019-08-31,0.41,3,232
3,37676,Mt. Hood View in the Pearl District,162158,Paul,NaN,Pearl,45.52555,-122.68193,Entire home/apt,100,30,124,2021-02-06,0.96,1,365
4,41601,Grandpa's Bunkhouse-Backyard Studio,179045,Jean,NaN,Roseway,45.54935,-122.58425,Entire home/apt,169,3,227,2021-02-17,1.77,2,359

In [15]:
PortlandOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
PortlandOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,12899,"Alberta Arts 2 bedroom suite, charming 1906 house",49682,Ali And David,NaN,Concordia,45.56488,-122.63418,Entire home/apt,70,2,555,2021-02-15,4.11,1,304
1,18130,Charming Roseway Bungalow,69824,Katie,NaN,Roseway,45.55342,-122.58002,Entire home/apt,80,3,2,2020-11-30,0.67,1,2
2,29931,Lovely SW Victorian w/Bonus Room and Hot Tub,79786,Ken,NaN,Hayhurst,45.48278,-122.72089,Entire home/apt,200,2,53,2019-08-31,0.41,3,232
3,37676,Mt. Hood View in the Pearl District,162158,Paul,NaN,Pearl,45.52555,-122.68193,Entire home/apt,100,30,124,2021-02-06,0.96,1,365
4,41601,Grandpa's Bunkhouse-Backyard Studio,179045,Jean,NaN,Roseway,45.54935,-122.58425,Entire home/apt,169,3,227,2021-02-17,1.77,2,359

In [ ]:
PortlandOriginal["City"] = "Portland,OR"

In [16]:
Portland = PortlandOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Portland.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Ali And David,Concordia,45.56488,-122.63418,Entire home/apt,70,2,304
1,Katie,Roseway,45.55342,-122.58002,Entire home/apt,80,3,2
2,Ken,Hayhurst,45.48278,-122.72089,Entire home/apt,200,2,232
3,Paul,Pearl,45.52555,-122.68193,Entire home/apt,100,30,365
4,Jean,Roseway,45.54935,-122.58425,Entire home/apt,169,3,359

In [17]:
RhodeIslandOriginal = pd.read_csv('Rhode Island.csv')
RhodeIslandOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,10262,Secluded 1750's home on 46 acres,35244,Paula,Providence,Glocester,41.86617,-71.72344,Private room,65,1,37,2017-08-31,0.44,1,0
1,15373,Adorable Beach Cottage Scarborough Beach RI,60209,Brian,Washington,Narragansett,41.39375,-71.47447,Entire home/apt,100,7,3,2020-08-28,0.40,1,35
2,50817,Sanctuary in the Suburbs,233965,Nancy,Providence,Pawtucket,41.88613,-71.35373,Entire home/apt,76,2,148,2021-01-31,1.17,1,303
3,51583,Bedroom In a large Victorian Home,237379,Chip,Providence,Providence,41.81244,-71.42076,Private room,58,1,372,2020-08-03,2.95,8,89
4,55464,Waterfront Narrow River Rent as of 5/1/21 kay...,262000,Kathy,Washington,South Kingstown,41.46965,-71.44939,Entire home/apt,295,7,88,2019-12-15,0.83,1,259

In [18]:
RhodeIslandOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
RhodeIslandOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,10262,Secluded 1750's home on 46 acres,35244,Paula,Providence,Glocester,41.86617,-71.72344,Private room,65,1,37,2017-08-31,0.44,1,0
1,15373,Adorable Beach Cottage Scarborough Beach RI,60209,Brian,Washington,Narragansett,41.39375,-71.47447,Entire home/apt,100,7,3,2020-08-28,0.40,1,35
2,50817,Sanctuary in the Suburbs,233965,Nancy,Providence,Pawtucket,41.88613,-71.35373,Entire home/apt,76,2,148,2021-01-31,1.17,1,303
3,51583,Bedroom In a large Victorian Home,237379,Chip,Providence,Providence,41.81244,-71.42076,Private room,58,1,372,2020-08-03,2.95,8,89
4,55464,Waterfront Narrow River Rent as of 5/1/21 kay...,262000,Kathy,Washington,South Kingstown,41.46965,-71.44939,Entire home/apt,295,7,88,2019-12-15,0.83,1,259

In [ ]:
RhodeIslandOriginal["City"] = "Rhode Island,RI"

In [19]:
RhodeIsland = RhodeIslandOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
RhodeIsland.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Paula,Glocester,41.86617,-71.72344,Private room,65,1,0
1,Brian,Narragansett,41.39375,-71.47447,Entire home/apt,100,7,35
2,Nancy,Pawtucket,41.88613,-71.35373,Entire home/apt,76,2,303
3,Chip,Providence,41.81244,-71.42076,Private room,58,1,89
4,Kathy,South Kingstown,41.46965,-71.44939,Entire home/apt,295,7,259

In [20]:
SalemOriginal = pd.read_csv('Salem.csv')
SalemOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1159564,SOLAR ECLIPSE - A,2185672,Roberta,NaN,Ward 3,44.88416,-123.04341,Private room,175,2,2,2013-08-30,0.02,1,365
1,2894591,Quiet and cozy home in South Salem.,14613038,Sue,NaN,Ward 7,44.90754,-123.07688,Private room,50,1,192,2020-07-22,2.36,2,296
2,3454856,Quiet and cozy home in South Salem,14613038,Sue,NaN,Ward 7,44.90781,-123.07676,Private room,50,1,2,2014-09-06,0.02,2,0
3,4394073,Warm and Welcoming in Downtown.,22810342,Michael,NaN,Ward 1,44.94813,-123.02229,Private room,47,2,107,2020-11-27,1.40,2,265
4,4785215,Century House Doug Fir Room,10502090,Jean,NaN,Ward 2,44.93448,-123.02103,Private room,89,2,84,2020-10-11,1.13,3,364

In [21]:
SalemOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SalemOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,1159564,SOLAR ECLIPSE - A,2185672,Roberta,NaN,Ward 3,44.88416,-123.04341,Private room,175,2,2,2013-08-30,0.02,1,365
1,2894591,Quiet and cozy home in South Salem.,14613038,Sue,NaN,Ward 7,44.90754,-123.07688,Private room,50,1,192,2020-07-22,2.36,2,296
2,3454856,Quiet and cozy home in South Salem,14613038,Sue,NaN,Ward 7,44.90781,-123.07676,Private room,50,1,2,2014-09-06,0.02,2,0
3,4394073,Warm and Welcoming in Downtown.,22810342,Michael,NaN,Ward 1,44.94813,-123.02229,Private room,47,2,107,2020-11-27,1.40,2,265
4,4785215,Century House Doug Fir Room,10502090,Jean,NaN,Ward 2,44.93448,-123.02103,Private room,89,2,84,2020-10-11,1.13,3,364

In [ ]:
SalemOriginal["City"] = "Salem,OR"

In [22]:
Salem = SalemOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Salem.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Roberta,Ward 3,44.88416,-123.04341,Private room,175,2,365
1,Sue,Ward 7,44.90754,-123.07688,Private room,50,1,296
2,Sue,Ward 7,44.90781,-123.07676,Private room,50,1,0
3,Michael,Ward 1,44.94813,-123.02229,Private room,47,2,265
4,Jean,Ward 2,44.93448,-123.02103,Private room,89,2,364

In [23]:
SanDiegoOriginal = pd.read_csv('San Diego.csv')
SanDiegoOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,5570,Ocean front condo on the sand,8435,Jef Karchin,NaN,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,0,NaN,NaN,3,242
1,29967,"Great home, 10 min walk to Beach",129123,Michael,NaN,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,62,2020-11-29,0.48,5,267
2,38245,Point Loma: Den downstairs,164137,Melinda,NaN,Roseville,32.74202,-117.21870,Private room,74,1,143,2019-10-20,1.12,3,294
3,54001,"La Jolla 2 Bdr Cottage: 1 Qn; 2Twns, Blks 2 Ocn",252692,Marsha,NaN,La Jolla,32.81301,-117.26856,Entire home/apt,80,4,248,2021-01-30,2.01,2,55
4,62274,"charming, colorful, close to beach",302986,Isabel,NaN,Pacific Beach,32.80734,-117.24243,Entire home/apt,73,1,629,2021-02-06,5.05,2,321

In [24]:
SanDiegoOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SanDiegoOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,5570,Ocean front condo on the sand,8435,Jef Karchin,NaN,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,0,NaN,NaN,3,242
1,29967,"Great home, 10 min walk to Beach",129123,Michael,NaN,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,62,2020-11-29,0.48,5,267
2,38245,Point Loma: Den downstairs,164137,Melinda,NaN,Roseville,32.74202,-117.21870,Private room,74,1,143,2019-10-20,1.12,3,294
3,54001,"La Jolla 2 Bdr Cottage: 1 Qn; 2Twns, Blks 2 Ocn",252692,Marsha,NaN,La Jolla,32.81301,-117.26856,Entire home/apt,80,4,248,2021-01-30,2.01,2,55
4,62274,"charming, colorful, close to beach",302986,Isabel,NaN,Pacific Beach,32.80734,-117.24243,Entire home/apt,73,1,629,2021-02-06,5.05,2,321

In [ ]:
SanDiegoOriginal["City"] = "San Diego,CA"

In [25]:
SanDiego = SanDiegoOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SanDiego.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Jef Karchin,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,242
1,Michael,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,267
2,Melinda,Roseville,32.74202,-117.21870,Private room,74,1,294
3,Marsha,La Jolla,32.81301,-117.26856,Entire home/apt,80,4,55
4,Isabel,Pacific Beach,32.80734,-117.24243,Entire home/apt,73,1,321

In [26]:
SanFranciscoOriginal = pd.read_csv('San Francisco.csv')
SanFranciscoOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,130,2,276,2021-02-07,1.95,1,137
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,195,30,111,2017-08-06,0.77,1,365
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,19,2020-03-06,0.14,8,365
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,8,2018-09-12,0.10,8,365
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,799,5,28,2019-06-28,0.20,2,365

In [27]:
SanFranciscoOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SanFranciscoOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,130,2,276,2021-02-07,1.95,1,137
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,195,30,111,2017-08-06,0.77,1,365
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,19,2020-03-06,0.14,8,365
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,8,2018-09-12,0.10,8,365
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,799,5,28,2019-06-28,0.20,2,365

In [ ]:
SanFranciscoOriginal["City"] = "San Francisco,CA"

In [28]:
SanFrancisco = SanFranciscoOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SanFrancisco.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Holly,Western Addition,37.77028,-122.43317,Entire home/apt,130,2,137
1,Philip And Tania,Bernal Heights,37.74511,-122.42102,Entire home/apt,195,30,365
2,Aaron,Haight Ashbury,37.76555,-122.45213,Private room,56,32,365
3,Aaron,Haight Ashbury,37.76555,-122.45213,Private room,56,32,365
4,Rosy,Western Addition,37.77525,-122.43637,Entire home/apt,799,5,365

In [29]:
SanMateoCountyOriginal = pd.read_csv('San Mateo County.csv')
SanMateoCountyOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12651,Private entrance/walk to Stanford,49735,Laurel,NaN,Menlo Park,37.43118,-122.19654,Entire home/apt,197,3,152,2021-01-12,1.12,3,311
1,39342,"Palm Tree Cottage, Pacifica",127367,Annette,NaN,Pacifica,37.63144,-122.48825,Entire home/apt,120,30,2,2018-07-01,0.02,2,365
2,40560,MOST COMFORTABLE BED EVER,174725,Megan,NaN,East Palo Alto,37.45528,-122.13829,Private room,110,1,133,2019-11-21,1.05,2,365
3,44504,"Burlingame 1 bed, & lounge apartment, close SFO",195645,Maggie,NaN,Burlingame,37.58774,-122.36622,Entire home/apt,210,3,149,2020-01-31,1.18,2,0
4,45287,The Garden Cottage-a secluded nature retreat,200479,Diane And Mike,NaN,Burlingame,37.57913,-122.34063,Entire home/apt,135,3,258,2021-01-04,2.05,1,180

In [30]:
SanMateoCountyOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SanMateoCountyOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,12651,Private entrance/walk to Stanford,49735,Laurel,NaN,Menlo Park,37.43118,-122.19654,Entire home/apt,197,3,152,2021-01-12,1.12,3,311
1,39342,"Palm Tree Cottage, Pacifica",127367,Annette,NaN,Pacifica,37.63144,-122.48825,Entire home/apt,120,30,2,2018-07-01,0.02,2,365
2,40560,MOST COMFORTABLE BED EVER,174725,Megan,NaN,East Palo Alto,37.45528,-122.13829,Private room,110,1,133,2019-11-21,1.05,2,365
3,44504,"Burlingame 1 bed, & lounge apartment, close SFO",195645,Maggie,NaN,Burlingame,37.58774,-122.36622,Entire home/apt,210,3,149,2020-01-31,1.18,2,0
4,45287,The Garden Cottage-a secluded nature retreat,200479,Diane And Mike,NaN,Burlingame,37.57913,-122.34063,Entire home/apt,135,3,258,2021-01-04,2.05,1,180

In [ ]:
SanMateoCountyOriginal["City"] = "San Mateo County,CA"

In [31]:
SanMateoCounty = SanMateoCountyOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SanMateoCounty.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Laurel,Menlo Park,37.43118,-122.19654,Entire home/apt,197,3,311
1,Annette,Pacifica,37.63144,-122.48825,Entire home/apt,120,30,365
2,Megan,East Palo Alto,37.45528,-122.13829,Private room,110,1,365
3,Maggie,Burlingame,37.58774,-122.36622,Entire home/apt,210,3,0
4,Diane And Mike,Burlingame,37.57913,-122.34063,Entire home/apt,135,3,180

In [32]:
SantaClaraCountyOriginal = pd.read_csv('Santa Clara County.csv')
SantaClaraCountyOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11464,Deluxe Studio 5 min. to SC Kaiser & Apple Park,42458,Emey,NaN,Santa Clara,37.34342,-121.98829,Entire home/apt,75,4,8,2021-01-17,0.10,17,149
1,21373,Bonsai Garden Inn in Professorville,7054,Mei Lin,NaN,Palo Alto,37.44001,-122.15667,Private room,80,2,264,2020-03-14,2.02,4,226
2,37512,Private room - Parking 3 carport,161741,Maria,NaN,San Jose,37.30598,-121.84036,Private room,48,1,183,2017-03-14,1.42,2,236
3,52786,Cozy Room in A Quiet Community,161741,Maria,NaN,San Jose,37.30521,-121.84149,Private room,50,1,478,2020-03-11,3.80,2,236
4,62799,Zen Office and Sofa in Palo Alto,7054,Mei Lin,NaN,Palo Alto,37.43925,-122.15617,Private room,100,7,148,2020-03-18,1.81,4,225

In [33]:
SantaClaraCountyOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SantaClaraCountyOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,11464,Deluxe Studio 5 min. to SC Kaiser & Apple Park,42458,Emey,NaN,Santa Clara,37.34342,-121.98829,Entire home/apt,75,4,8,2021-01-17,0.10,17,149
1,21373,Bonsai Garden Inn in Professorville,7054,Mei Lin,NaN,Palo Alto,37.44001,-122.15667,Private room,80,2,264,2020-03-14,2.02,4,226
2,37512,Private room - Parking 3 carport,161741,Maria,NaN,San Jose,37.30598,-121.84036,Private room,48,1,183,2017-03-14,1.42,2,236
3,52786,Cozy Room in A Quiet Community,161741,Maria,NaN,San Jose,37.30521,-121.84149,Private room,50,1,478,2020-03-11,3.80,2,236
4,62799,Zen Office and Sofa in Palo Alto,7054,Mei Lin,NaN,Palo Alto,37.43925,-122.15617,Private room,100,7,148,2020-03-18,1.81,4,225

In [ ]:
SantaClaraCountyOriginal["City"] = "Santa Clara County,CA"

In [34]:
SantaClaraCounty = SantaClaraCountyOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SantaClaraCounty.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Emey,Santa Clara,37.34342,-121.98829,Entire home/apt,75,4,149
1,Mei Lin,Palo Alto,37.44001,-122.15667,Private room,80,2,226
2,Maria,San Jose,37.30598,-121.84036,Private room,48,1,236
3,Maria,San Jose,37.30521,-121.84149,Private room,50,1,236
4,Mei Lin,Palo Alto,37.43925,-122.15617,Private room,100,7,225

In [35]:
SantaCruzCountyOriginal = pd.read_csv('Santa Cruz County.csv')
SantaCruzCountyOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11879,Sunny room close to beach and parks,44764,Steven,NaN,Unincorporated Areas,36.98186,-121.88114,Private room,75,2,60,2021-02-24,0.47,3,169
1,24548,Room with Private Entrance.,99532,Kerstin,NaN,City of Santa Cruz,36.97167,-121.99774,Private room,100,2,479,2020-11-23,3.63,1,0
2,31721,Dog Friendly Private Pleasure Point Beach Cottage,136376,Annie,NaN,City of Capitola,36.95849,-121.97207,Entire home/apt,179,4,222,2021-01-31,2.21,2,1
3,43785,Guest bedroom in Victorian home,191477,Caroline,NaN,City of Santa Cruz,36.97694,-122.03600,Private room,85,2,446,2021-02-07,3.49,1,332
4,49520,Guest Cottage with shared bath,225721,Christine,NaN,Unincorporated Areas,36.96325,-121.82091,Private room,95,30,145,2018-09-15,1.23,2,0

In [36]:
SantaCruzCountyOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SantaCruzCountyOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,11879,Sunny room close to beach and parks,44764,Steven,NaN,Unincorporated Areas,36.98186,-121.88114,Private room,75,2,60,2021-02-24,0.47,3,169
1,24548,Room with Private Entrance.,99532,Kerstin,NaN,City of Santa Cruz,36.97167,-121.99774,Private room,100,2,479,2020-11-23,3.63,1,0
2,31721,Dog Friendly Private Pleasure Point Beach Cottage,136376,Annie,NaN,City of Capitola,36.95849,-121.97207,Entire home/apt,179,4,222,2021-01-31,2.21,2,1
3,43785,Guest bedroom in Victorian home,191477,Caroline,NaN,City of Santa Cruz,36.97694,-122.03600,Private room,85,2,446,2021-02-07,3.49,1,332
4,49520,Guest Cottage with shared bath,225721,Christine,NaN,Unincorporated Areas,36.96325,-121.82091,Private room,95,30,145,2018-09-15,1.23,2,0

In [ ]:
SantaCruzCountyOriginal["City"] = "Santa Cruz County,CA"

In [37]:
SantaCruzCounty = SantaCruzCountyOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SantaCruzCounty.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Steven,Unincorporated Areas,36.98186,-121.88114,Private room,75,2,169
1,Kerstin,City of Santa Cruz,36.97167,-121.99774,Private room,100,2,0
2,Annie,City of Capitola,36.95849,-121.97207,Entire home/apt,179,4,1
3,Caroline,City of Santa Cruz,36.97694,-122.03600,Private room,85,2,332
4,Christine,Unincorporated Areas,36.96325,-121.82091,Private room,95,30,0

In [38]:
SeattleOriginal = pd.read_csv('Seattle.csv')
SeattleOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,30,32,2020-02-01,0.21,1,107
1,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,55,2,148,2019-12-27,1.15,7,328
2,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.55539,-122.38474,Entire home/apt,155,30,41,2020-11-26,0.37,2,327
3,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.55624,-122.38598,Entire home/apt,125,30,55,2020-12-28,0.50,2,204
4,9596,"the down home , spacious, central and fab!",14942,Joyce,Other neighborhoods,Wallingford,47.65479,-122.33652,Entire home/apt,100,4,97,2020-09-28,0.82,2,31

In [39]:
SeattleOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SeattleOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,30,32,2020-02-01,0.21,1,107
1,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,55,2,148,2019-12-27,1.15,7,328
2,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.55539,-122.38474,Entire home/apt,155,30,41,2020-11-26,0.37,2,327
3,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.55624,-122.38598,Entire home/apt,125,30,55,2020-12-28,0.50,2,204
4,9596,"the down home , spacious, central and fab!",14942,Joyce,Other neighborhoods,Wallingford,47.65479,-122.33652,Entire home/apt,100,4,97,2020-09-28,0.82,2,31

In [ ]:
SeattleOriginal["City"] = "Seattle,WA"

In [40]:
Seattle = SeattleOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Seattle.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Megan,Madrona,47.61082,-122.29082,Entire home/apt,296,30,107
1,Angielena,Georgetown,47.55017,-122.31937,Private room,55,2,328
2,Cassie,Fairmount Park,47.55539,-122.38474,Entire home/apt,155,30,327
3,Cassie,Fairmount Park,47.55624,-122.38598,Entire home/apt,125,30,204
4,Joyce,Wallingford,47.65479,-122.33652,Entire home/apt,100,4,31

In [41]:
TwinCitiesOriginal = pd.read_csv('Twin Cities.csv')
TwinCitiesOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2441,"Cozy Artist’s Abode, NE Mpls - Pets, Wifi, Rok...",2680,Emily,NaN,Hennepin,45.00886,-93.23407,Entire home/apt,85,1,255,2021-02-15,1.85,2,0
1,4534,"Charming, 1 or 2BR + private bath, near downtown",5811,Rachel,NaN,Hennepin,44.94566,-93.35721,Private room,49,2,166,2020-03-17,1.27,1,363
2,27319,"Parks, Lakes, Downtown, Light rail",117283,Keith,NaN,Hennepin,44.91878,-93.23038,Private room,50,2,174,2020-10-04,1.38,2,364
3,55089,"Minneapolis/Edina ""Cabin"" on Creek",238546,Leslie,NaN,Hennepin,44.91985,-93.35141,Entire home/apt,160,7,35,2021-01-01,0.33,2,235
4,60977,Attic Loft with organic breakfast,294621,Habib,NaN,Ramsey,44.94800,-93.19037,Entire home/apt,65,3,20,2016-08-07,0.17,1,235

In [42]:
TwinCitiesOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
TwinCitiesOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,2441,"Cozy Artist’s Abode, NE Mpls - Pets, Wifi, Rok...",2680,Emily,NaN,Hennepin,45.00886,-93.23407,Entire home/apt,85,1,255,2021-02-15,1.85,2,0
1,4534,"Charming, 1 or 2BR + private bath, near downtown",5811,Rachel,NaN,Hennepin,44.94566,-93.35721,Private room,49,2,166,2020-03-17,1.27,1,363
2,27319,"Parks, Lakes, Downtown, Light rail",117283,Keith,NaN,Hennepin,44.91878,-93.23038,Private room,50,2,174,2020-10-04,1.38,2,364
3,55089,"Minneapolis/Edina ""Cabin"" on Creek",238546,Leslie,NaN,Hennepin,44.91985,-93.35141,Entire home/apt,160,7,35,2021-01-01,0.33,2,235
4,60977,Attic Loft with organic breakfast,294621,Habib,NaN,Ramsey,44.94800,-93.19037,Entire home/apt,65,3,20,2016-08-07,0.17,1,235

In [ ]:
TwinCitiesOriginal["City"] = "Twin Cities,MN"

In [43]:
TwinCities = TwinCitiesOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
TwinCities.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Emily,Hennepin,45.00886,-93.23407,Entire home/apt,85,1,0
1,Rachel,Hennepin,44.94566,-93.35721,Private room,49,2,363
2,Keith,Hennepin,44.91878,-93.23038,Private room,50,2,364
3,Leslie,Hennepin,44.91985,-93.35141,Entire home/apt,160,7,235
4,Habib,Ramsey,44.94800,-93.19037,Entire home/apt,65,3,235

In [44]:
WashingtonDCOriginal = pd.read_csv('Washington D.C..csv')
WashingtonDCOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86177,-76.98966,Private room,55,2,75,2021-01-12,0.60,2,365
1,3943,Historic Rowhouse Near Monuments,5059,Vasa,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91066,-77.00438,Private room,70,2,429,2018-08-07,2.99,2,365
2,4197,Bedroom in DC 2 blocks to Metro,5061,Sandra,NaN,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,80,28,45,2020-03-14,0.31,2,263
3,4529,Bertina's House Part One,5803,Bertina'S House,NaN,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,54,30,102,2019-07-05,0.73,1,84
4,4967,"DC, Near Metro",7086,Seveer,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91409,-76.99368,Private room,99,2,31,2016-09-22,0.25,3,233

In [45]:
WashingtonDCOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
WashingtonDCOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86177,-76.98966,Private room,55,2,75,2021-01-12,0.60,2,365
1,3943,Historic Rowhouse Near Monuments,5059,Vasa,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91066,-77.00438,Private room,70,2,429,2018-08-07,2.99,2,365
2,4197,Bedroom in DC 2 blocks to Metro,5061,Sandra,NaN,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,80,28,45,2020-03-14,0.31,2,263
3,4529,Bertina's House Part One,5803,Bertina'S House,NaN,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,54,30,102,2019-07-05,0.73,1,84
4,4967,"DC, Near Metro",7086,Seveer,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91409,-76.99368,Private room,99,2,31,2016-09-22,0.25,3,233

In [ ]:
WashingtonDCOriginal["City"] = "Washington,DC"

In [46]:
WashingtonDC = WashingtonDCOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
WashingtonDC.head()

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Vita,Historic Anacostia,38.86177,-76.98966,Private room,55,2,365
1,Vasa,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91066,-77.00438,Private room,70,2,365
2,Sandra,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,80,28,263
3,Bertina'S House,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,54,30,84
4,Seveer,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91409,-76.99368,Private room,99,2,233

In [47]:
USAirbnb = pd.concat([NewOrleans, NewYork, Oakland, PacificGrove, Portland, RhodeIsland, Salem, SanDiego, SanFrancisco, SanMateoCounty, SantaClaraCounty, SantaCruzCounty, Seattle, TwinCities, WashingtonDC])
USAirbnb.head(20)

,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,Jill,Navarre,29.98666,-90.10928,Entire home/apt,264,2,1
1,John,Hollygrove,29.96317,-90.11888,Entire home/apt,61,1,299
2,Rachel,Marigny,29.96557,-90.05531,Entire home/apt,106,3,51
3,Susan,Bywater,29.96335,-90.04245,Entire home/apt,130,3,361
4,Georgia,Marigny,29.96860,-90.05251,Entire home/apt,158,3,352
5,Matt McShee,Bywater,29.96190,-90.03589,Private room,99,3,91
6,Miriam,Seventh Ward,29.97872,-90.07405,Entire home/apt,99,2,0
7,James,Marlyville - Fontainbleau,29.94481,-90.11201,Private room,89,3,365
8,Stephen,St. Claude,29.96448,-90.03667,Entire home/apt,98,3,301
9,Joanne,Marigny,29.96811,-90.05905,Private room,75,1,66
10,Sanford,Central City,29.93514,-90.08134,Private room,347,2,365
11,Virginia,Marigny,29.96364,-90.05910,Entire home/apt,109,3,149
12,Tom,Mid-City,29.97287,-90.10188,Entire home/apt,110,30,365
13,Lee,Bywater,29.96571,-90.02871,Private room,83,4,14
14,Leslie,St. Claude,29.96549,-90.04323,Entire home/apt,77,2,218
15,Joanne,Marigny,29.96811,-90.05905,Private room,75,1,0
16,DJoseph,Fillmore,30.01436,-90.08190,Private room,199,2,364
17,Gwendolyn,Treme - Lafitte,29.96559,-90.06836,Entire home/apt,329,3,180
18,Gwendolyn,Treme - Lafitte,29.96519,-90.07015,Entire home/apt,274,3,177
19,Dan And Jo Anne,Black Pearl,29.94009,-90.13306,Private room,125,2,365

In [48]:
USAirbnb.to_csv('USCityAirbnb.csv')